<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Put Page</title>
</head>
<body>
    <form action="/?_method=PUT" method="POST">
        <button type="submit">Put Stuff</button>
    </form>

</body>
</html>